<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title></title>
</head>
<body  >
    {% block content%}
    {%include("partials/_logo.html")%}
    {% endblock%}
    
    <div class="form">
        <form action="/updateRevenu/{{updateRevenu[0]}}" method="POST">
    <table  >
        <tbody >
            <tr >
                <td>
                    Titre
                </td>
             </tr>
            <tr>
                <td class="td">
                    <input type="text" name="titre" value={{updateRevenu[1]}}>
                </td >
            </tr>
            <tr>
                <td>
                    Montant
                </td>
            </tr>
            <tr>
                <td class="td">
                    <input type="text" name="montant" value={{updateRevenu[2]}}>
                </td>
            </tr>
            <tr>
                <td >
                    <input  value="modifier" style="width:100% ;cursor:pointer" type="submit"  class="vert">
                </td>
            </tr>
        </tbody>
    </table>
</form>
</div>
{%if error_message %}
    <div class="form" style="margin-top:50px; color:red">
        {{error_message}}
      </div>
    {% endif %}
</body>
</html>